// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

.quote-container{
	border: lightcoral 10px solid;
}

.quote-container .col{
	padding: 20px 10px;
}

.quote-container h3, .quote-container label{
	color: lightcoral;
}

.quote-container label{
	font-weight: normal;
}

.quote-container .button-img{
	height: 50px;
	width: 50px;
}

.quote-container .author{
	font-weight: bold;
}